<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <title>Travel API</title>
</head>

<body>
   <main class="main">
      <h1>Welcome to Our Travel API</h1>
      <div class="wraper">
         <form action="/travel/api/country" method="post" id="trvel-form" class="form">
            <div class="form_group">
               <label for="name">Name</label>
               <input type="text" name="name" placeholder="country name" id="country">
            </div>
            <div class="form_group">
               <label for="cityname">cityname</label>
               <input type="text" name="city[0].cityname" value="" placeholder="city name " id="cityname">
            </div>
            <div class="form_group">

               <label for="citySight">sight</label>
               <input type="text" name="city[0].citySight" value="" placeholder="city sight " id="citySight">
            </div>
            <div class="form_group">
               <label for="hotels">hotels</label>
               <input type="text" name="city[0].hotels" value="hotels" placeholder="city hotels" id="cityHotels">

            </div>
            <div class="form_group">
               <label for="disc">disc</label>
               <input type="text" name="city[0].disc" value="disc" placeholder="city disc" id="cityDisc">
            </div>
            <div class="form_group">
               <label for="restaurants">restaurant</label>
               <input type="text" name="city[0].restaurants" value="restaurants" placeholder="city Restaurants"
                  id="cityRestaurants">
            </div>
            <div class="form_group">
               <label for="crimeRate">crimeRate</label>
               <input type="text" name="city[0].crimeRate" value="crimeRate" placeholder="city crimeRate"
                  id="citycrimeRate">
            </div>
            <div class="form_group">
               <label for="rate">rate</label>
               <input type="number" name="city[0].rate" value="rate" placeholder="city rate" id="cityRate">
            </div>
            <div class="form_group">
               <label for="website">website</label>
               <input type="text" name="website" value="" placeholder="website" id="website">
            </div>

            <div class="form_group">
               <label for="food">food</label>
               <input type="text" name="[food]" value="" placeholder="city food" id="food">
            </div>
            <div class="form_group">
               <label for="sight">sight</label>
               <input type="text" name="sight" value="" placeholder="city sight" id="sight">
            </div>
            <div class="form_group">
               <label for="visitings">visitings</label>
               <input type="number" name="visitings" value="" placeholder="visitings" id="visitings">
            </div>
            <div class="form_group">
               <label for="languages">languages</label>
               <input type="text" name="languages" value="" placeholder="languagess" id="languages">
            </div>
            <button type="submit" class="btn">Submit</button>
         </form>
      </div>
      <div class="content">
         <h2 class="page-header">API content </h2>
         <ul class="rappers">
            <% for(let i=0; i < info.length; i++) {%>
            <li class="rapper">
               <span><%= info[i].name %></span>
               <ul>
                  <% for(let j=0; j < info[i].city.length; j++) {%>
                  <span><%= info[i].city[j].cityname %> </span><br>
                  <span><%= info[i].city[j].citySight %> </span><br>
                  <span><%= info[i].city[j].disc %> </span><br>
                  <span><%= info[i].city[j].hotels %> </span>
                  <span><%= info[i].city[j].restaurants %> </span><br>
                  <span><%= info[i].city[j].crimeRate %> </span>
                  <span><%= info[i].city[j].rate %> </span>
                  <% } %>
               </ul>
               <span><%= info[i].website %></span><br>
               <span><%= info[i].food %></span><br>
               <span><%= info[i].sight %></span>
               <span><%= info[i].visitings %></span><br>
               <span><%= info[i].languages %></span>
               <span class='fa fa-thumbs-up'></span>
               <span class='fa fa-trash'></span>
            </li>
            <% } %>
         </ul>
      </div>
   </main>
   <script src="js/main.js"></script>
</body>

</html>